[Unit]
Description=InfluxDB Agent
After=network.target

[Service]
Type=forking
ExecStart=/var/lib/templogger/influxdb-agent-start.sh

[Install]
WantedBy=multi-user.target
